/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#mainAnchorPane {
	-fx-background-color:rgb(192,192,192);	
}

#btnSearchByID {
	-fx-background-color:rgb(255,128,64);	
}
#btnSortByID {
	-fx-background-color:rgb(64,255,64);	
}